<div class="container-fluid col-12">
    <div class="titlebar">
        <div class="LOGO">
            <img src="./images/sju.png" class="logo">
            <p class="sju"> ~ ST. JOSEPH'S UNIVERSITY \ TREASURE HUNT</p>
        </div>
        <div class="buttons">
            <div class="outer">🗕</div>
            <div class="outer">❒</div>
            <div class="outer">✕</div>
        </div>
    </div>
    <div class="fullscreen col-12">
        <div class="screen scroll col-12" id="screen">
            <div class="Left" id="Left">
                <div class="ServerMessage" id="ServerMessage">
                    <div id="initial"></div>
                    <div class="timeText" id="timeText"></div>
                </div>
            </div>
        </div>
        <div class="Sent">
            <div class="UserAccepting">
                <form action="/" method="post" id="form">
                    <input type="hidden" name="Time" id="formTime">
                    <label for="usertext">></label>
                    <input type="text" name="usertext" id="usertext" class="usertext">
                </form>
            </div>
        </div>
    </div>
</div>